@using BugTracker.Models.Enums;
@using BugTracker.ViewModels;
@using Newtonsoft.Json;
@model BugCreationViewModel

@{
    ViewData["Title"] = "Create";
}

<a asp-action="Index" class="btn btn-outline-primary"><i class="bi bi-arrow-left-square me-2"></i>Back to List</a>
<h1 class="text-center">Create</h1>

<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Bug.Title" class="control-label"></label>
            <input asp-for="Bug.Title" class="form-control" />
            <span asp-validation-for="Bug.Title" class="text-danger"></span>
        </div>
        <div class="row my-3">
            <div class="form-group col-md-4">
                <label asp-for="Bug.Status" class="control-label"></label>
                <select asp-for="Bug.Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Bug.Status" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Bug.Severity" class="control-label"></label>
                <select asp-for="Bug.Severity" asp-items="Html.GetEnumSelectList<Severity>()" class="form-control"></select>
                <span asp-validation-for="Bug.Severity" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Bug.Priotity" class="control-label"></label>
                <select asp-for="Bug.Priotity" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control"></select>
                <span asp-validation-for="Bug.Priotity" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="Bug.Assignee" class="control-label"></label>
                <select asp-for="Bug.Assignee.Id" asp-items="new SelectList(Model.UsersToAssign, nameof(BugTracker.Models.User.Id), nameof(BugTracker.Models.User.UserName))" class="form-control"></select>
                <span asp-validation-for="Bug.Assignee" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Bug.DueDate" class="control-label"></label>
                <input asp-for="Bug.DueDate" class="form-control" />
                <span asp-validation-for="Bug.DueDate" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Bug.Description" class="control-label"></label>
            <textarea asp-for="Bug.Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Bug.Description" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-plus-square me-2"></i>Create
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
